.income {
    border: 3px solid chartreuse;

}
.spending {
    border: 3px solid #ff0000;
}

.strange {
    border: 3px solid #ffbb00;
}

.green{
    color: greenyellow;
}

.red {
    color: #ff0000;
}

.alert {
    max-height: 83px;
    overflow: hidden;
    transition: max-height 1.6s ease,padding 1.6s ease;
    cursor: pointer;
}

.alert:hover{
    max-height: 500px;
    padding: 10px 15px;
}
